<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS PRODUCTS</title>
</head>
<body>
    <%if(product){%>
    <h1>Product</h1>
    <h2>Title:<%=product.title%></h2>
    <image src="<%=product.thumbnail%>" width="100px" height="100px"></image>
    <h3>Rating:<%=product.rating%></h3>
    <h3>Price:<%=product.price%></h3>
    <h3>Quantity:<%=product.stock%></h3>
    <%}>
</body>
</html>